services:
  frontend:
    build: ./frontend
    container_name: frontend-dev
    ports:
      - 5173:5173
    environment:
      TZ: Asia/Tokyo
    volumes:
      - ./frontend:/app
    command: npm run dev -- --host 0.0.0.0

  backend:
    build: ./backend
    container_name: backend-dev
    ports:
      - 3000:3000
    environment:
      TZ: Asia/Tokyo
    volumes:
      - ./backend:/app
    command: npm run dev

  database:
    image: mysql:latest
    container_name: mysql-dev
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: database-dev
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      TZ: Asia/Tokyo
    ports:
        - 3306:3306
    volumes:
      - ./database:/docker-entrypoint-initdb.d
